@attribute [Route(Constants.Forecast.ViewerPath)]
@using Budget.Shared

@inject NavigationManager NavigationManager
@inject HttpClient Http

@if (Model == default)
{
    <p>Loading...</p>
}
else
{
    <h3>@Category?.Name Forecast Details For @Model.Month / @Model.Year</h3>
    <br/>
    <p>Month: <em>@Model.Month</em></p>
    <br/>
    <p>Year: <em>@Model.Year</em></p>
    <br/>
    <p>Category: <em>@Category?.Name</em></p>
    <br/>
    <p>Amount: <em>@Model.Amount</em></p>
    <br/>
    <p>Notes: <em>@Model.Notes</em></p>
    <br/>
    <TransactionCatalogueElement GetTransactionsUrl="@Constants.Api.GetTransactions(Model)"/>
    <br/>
    <a href="@Constants.Forecast.CataloguePath">Back to List</a>
}


@code {
    [Parameter]
    public long? Id { get; set; }

    private Forecast? Model { get; set; }
    private Category? Category { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id == null)
        {
            NavigationManager.NavigateTo(Constants.Forecast.CataloguePath);
        }
        Model = await Http.GetFromJsonAsync<Forecast>($"Api/Forecast/{Id}");
        Category = await Http.GetFromJsonAsync<Category>($"Api/Category/{Model.CategoryId}");
    }
}