@attribute [Route(Constants.HomePath)]
@using Budget.Shared
@implements INavigationItem
@inject HttpClient Http

<PageTitle>@Title</PageTitle>

<h2>Bank Account Tests</h2>
<table class="table">
    <thead>
        <tr>
            <th style="width: 10%">Status</th>
            <th>Account</th>
            <th>Expected</th>
            <th>Actual</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in AccountTests)
        {
            <tr>
                <td><span class="oi @(((test.ActualTotal == test.ExpectedTotal).ToIcon()))" aria-hidden="true"></span></td>
                <td style="background-color: @test.Color">@test.Name</td>
                <td style="background-color: @test.ExpectedTotal.ToColor()">@test.ExpectedTotal.ToCurrency()</td>
                <td style="background-color: @test.ActualTotal.ToColor()">@test.ActualTotal.ToCurrency()</td>
            </tr>
        }
    </tbody>
</table>

<br/>
<br/>
<h2>Forecast Tests</h2>
<EditForm Model="@this" OnValidSubmit="@Reload">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        Month: <InputMonth @bind-Value="Time" class="form-control"/>
    </div>
    <br/>
    <button type="submit" class="btn btn-success">Submit</button>
</EditForm>

<table class="table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Expected</th>
            <th>Actual</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in ForecastTests)
        {
            <tr>
                <td style="background-color: @test.CategoryColor">@test.CategoryName</td>
                <td style="background-color: @test.ForecastedAmount.ToColor()">@test.ForecastedAmount.ToCurrency()</td>
                <td style="background-color: @test.SpentAmount.ToColor()">@test.SpentAmount.ToCurrency()</td>
                <td>@test.Notes</td>
            </tr>
        }
    </tbody>
</table>

@code {
    public string Path => Constants.HomePath;
    public string Title => "Home";
    public string Icon => "oi-home";

    private DateTime Time { get; set; } = DateTime.Now;
    private IList<ForecastTest> ForecastTests { get; set; } = new List<ForecastTest>();
    private IList<BankAccountTest> AccountTests { get; set; } = new List<BankAccountTest>();

    protected override async Task OnInitializedAsync()
    {
        AccountTests = await Http.GetFromJsonAsync<IList<BankAccountTest>>(ApiConstants.BankAccount.GetTestsPath());
    }

    private async Task Reload()
    {
        AccountTests = await Http.GetFromJsonAsync<IList<BankAccountTest>>(ApiConstants.BankAccount.GetTestsPath());
        ForecastTests = await Http.GetFromJsonAsync<IList<ForecastTest>>(ApiConstants.Forecast.GetTestsPath(Time));
        await AddTotalForecast();
    }

    private async Task AddTotalForecast()
    {
       ForecastTests.Add(new ForecastTest
       {
           CategoryName = "Total",
           CategoryColor = "#FFFFFF",
           ForecastedAmount = ForecastTests.Sum(t => t.ForecastedAmount),
           SpentAmount = ForecastTests.Sum(t => t.SpentAmount),
           SpentLessThanForecasted = ForecastTests.All(t => t.SpentLessThanForecasted)
       });
    }
}
